In [ ]:
any([])

In [ ]:
all([])

In [ ]:
i = 5
while True:
  if i%0O9:
    break
  print(i)

In [ ]:
i = 0

while i<5:
  print(i)
  i += 1
  if i%3 == 0:
    break
else:
  print(0)

In [ ]:
x = "abcdef"
n = len(x)
i = 0
while i<n:
  print(x[i], end=" ")
  i+=1

In [ ]:
x = "abcdef"
i = "i"
while i in x:
  print(i, end=" ")

In [ ]:
x = "abcdef"
i = "a"
while i in x:
  print(i, end=" ")

In [ ]:
for i in x:
  print(i, end=" ")

In [ ]:
l = [0,1,2]
i = 0

while i in l:
  print(i, end=" ")

In [ ]:
x = "abcd"

for i in range(len(x)):
  print(i.upper())
print(x)

In [ ]:
x = "abcd"

for i in x:
  print(i.upper())
print(x)

In [ ]:
'"Once upon a time...",she said.'

In [ ]:
"He said, 'Yes!'"

In [ ]:
a = "3\""
print(a)

In [ ]:
a = "3\\"
print(len(a))

In [ ]:
print("hello"'harsh')

In [ ]:
print(r"\"hello\nworld")

In [ ]:
names1 = ['a','b', 'c', 'd']

names2 = ['e', 'f', 'g', 'h']

names3 = names1[::-1]

for ls in (names1,names2, names3):
  print(ls)
  print(type(ls))

In [ ]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']

names2 = names1

names3 = names1[:]
print("Initialization Steps: ")

print("names 1: ", names1)
print(id(names1))
print("names 2: ", names2)
print(id(names2))
print("names 3: ", names3)
print(id(names3))

print("\n\nUpdating Step: ")
names2[0] = 'Alice'
names3[1] = 'Bob'
print("names 1: ", names1)
print(id(names1))
print("names 2: ", names2)
print(id(names2))
print("names 3: ", names3)
print(id(names3))

sum = 0
print("\n\nStarting Loops: ")
for ls in (names1, names2, names3):
     print("Ls inside loop: ", ls)
     if ls[0] == "Alice":
            sum+=1
     if ls[1] == "Bob":
            sum+=10
     print("sum inside loop : ", sum)

print(sum)

In [ ]:
d1 = dict{}
print(d1)

In [ ]:
d1 = dict()
print(d1)

In [ ]:
a_b_c = 1000,000,000
print(a_b_c)
print(type(a_b_c))

In [ ]:
a,b,c = 1000,2000,3000
d,e,f = (1000,2000,3000)

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

In [ ]:
a,b = 1,2,3
print(a)
print(b)

In [ ]:
a,b,c = 1,2
print(a)
print(b)
print(c)

In [ ]:
a, *b = 1,2,3

print(a)
print(b)
print(type(b))

In [ ]:
*a, b = 1,2,3

print(a)
print(b)
print(type(a))

In [ ]:
*a, *b, c = 1,2,3,4,5

In [ ]:
t1 = (23,24,25,5,6,5)

t1[0]+t1.index(5)

In [ ]:
t1.index(5)

In [ ]:
l = [23,24,25,5,6,5]
l.index(5)

In [ ]:
s = "venky125345"

In [ ]:
s.index("5")

In [ ]:
t1[0]+t1.rindex(5)