### **Dictionary**

1. Initialize a dictionary
2. Create a dictionary with items
3. dict.fromkeys
4. Dictionary is mutable (keys & values - what can be added?)
5. keys, values, items
6. Accessing Items in Dictionary (get method)
7. Modifying a dictionary
8. update method
9. deleting items in dictionary
10. clear
11. pop
12. popitem
13. Looping through dictionary

In [ ]:
# initialize a dictionary

d = {}

print(d)
print(type(d))

In [ ]:
d = {1,2,3}
print(type(d))
print(d)

In [ ]:
d = {'A':2, 'B': 3} # key-value format
print(d)
print(type(d))

In [ ]:
d1 = dict()
print(d1)
print(type(d1))

In [ ]:
d2 = dict([])
print(d2)
print(type(d2))

In [ ]:
# dictionary is ordered

d = {"A": 1, "B": 2, "C": 3}
d2 = {1: [1,2,3], "ABC": 20, 2: 12, "a": (12,20)}
print(d)
print(d2)

In [ ]:
d = {"A": 1, "B": 2, "C": 3}

for k in d:
  print("Keys: ", k)
  print("Values: ", d[k])

In [ ]:
print(d['A'])

In [ ]:
print(d[0])

In [ ]:
# to access an element in a dictionary

# dictionary_name[key]

d['B']

In [ ]:
s = {1,1.5,"abc",2,2.4,"bca",False}
print(s)

In [ ]:
# duplicates are not allowed

# 1,1.0,True are treated same
# 0,0.0, False are treated same
d = {1: 'A', 1.0: "F", True: 'B', 0: 'Z', 0.0: 'FZ', False: 'BZ'}
print(d)

In [ ]:
d = {"1": "A", 1.0: "BZ", True: "B"}
print(d)

In [ ]:
a = "Venky"

d = {a: 12}
print(d)

a = "RBR"

print(d)

In [ ]:
# duplicate values are allowed

d = {'A': 12, 'B': 12, 'C': 12}
print(d)

In [ ]:
1==1.0

In [ ]:
# dict method

d1 = dict(a=10, b=12, c=50, d=[12,30])
print(d1)
print(type(d1))

In [ ]:
d1 = dict(10,12,50,[12,24])
print(d1)

In [ ]:
# copy a dictionary

d1 = {'A': 12, 'B': 20, 'C': 30}

d2 = d1 # dictionary is mutable

print(id(d2))
print(id(d1))

In [ ]:
print(d1)
d1['A'] = 100
print(d2)
print(d1)

In [ ]:
print(d1)
d3 = d1.copy()

d1['A'] = 1000
print(d1)
print(d3)

In [ ]:
d1 = {'A': [10,20,30], 'B': 20, 'C': 30}

d2 = d1.copy()

print(d1)
print(d2)

d1['A'][1] = 100

print(d1)
print(d2)

# to overcome this, u go to deepcopy

In [ ]:
import copy

d1 = {'A': [10,20,30], 'B': 20, 'C': 30}

d2 = copy.deepcopy(d1)

print(d1)
print(d2)

d1['A'][1] = 100

print(d1)
print(d2)

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}

d_2 = dict(d)

print(d)
print(d_2)

d['a'] = 100
print(d)
print(d_2)

In [ ]:
d = {'a': [100,200,300], 'b': 20, 'c': 30}

d_2 = dict(d) # similar to d.copy() method


print(d)
print(d_2)

d['a'][1] = 1000
print(d)
print(d_2)

In [ ]:
d = {"a": 1, "b": 2}
print("d")
print(d)
print(id(d))
d2 = d
print("d2")
print(d2)
print(id(d2))
d3 = d.copy()
print("d3")
print(d3)
print(id(d3))
d4 = dict(d)
print("d4")
print(d4)
print(id(d4))

In [ ]:
print(d)
d['b'] = 1000

print(d)
print(d2)
print(d3)
print(d4)

# copy.deepcopy

In [ ]:
# creating dictionary using iterables - list, tuples

d = dict([("a",2), ("b", 4), ("c", 10)])
print(d)

In [ ]:
d = dict([("a",2), ("b", 4), ("c", 10), ("d", 100, 2)])
print(d)

In [ ]:
d = dict([("a",2), ("b", 4), ("c", 10), (100,"d")])
print(d)

In [ ]:
d = dict((("a",2), ("b", 4), ("c", 10), (100,"d")))
print(d)

In [ ]:
d = dict(("a",2), ("b", 4), ("c", 10), (100,"d"))
print(d)

In [ ]:
d = dict([("a",[1,2,3]), ("b", 4), ("c", 10), (100,"d")])
print(d)

In [ ]:
d = dict([("a",[1,2,3]), ("b", 4), ("c", 10), (100,"d")], virat=120)
print(d)

In [ ]:
virat = "ABC"
d = dict([(virat, 120)])
print(d)

d2 = dict([(120, virat)])
print(d2)

In [ ]:
d = dict([("a",[1,2,3]), ("b", 4), ("c", 10), (100,"d")], virat=120, rohit=100)
print(d)

In [ ]:
virat

**Creating dictionary fromkeys method**

In [ ]:
students = ['venky', 'viky', 'abi', 'sai', 'vasanth']

d = dict.fromkeys(students) # default value is None

print(d)

In [ ]:
students = ['venky', 'viky', 'abi', 'sai', 'vasanth']

d = dict.fromkeys(students, 0)

print(d)

In [ ]:
students = ('venky', 'viky', 'abi', 'sai', 'vasanth')

d = dict.fromkeys(students, 0)

print(d)

In [ ]:
students = ('venky', 'viky', 'abi', 'sai', 'vasanth')

d = dict.fromkeys(students, [1,2,3])

print(d)

In [ ]:
# keys and values in dictionary

d = {'a': [12,20,30], 'b': (20,30,40), 'c': {12,30,40}, 'd': {10:20,20:30,30:40}} # dictionary inside dictionary is possible as a value

print(d)

In [ ]:
d = {(12,30,40): 'b'} # tuple as a key
print(d)

In [ ]:
d = {(12,30,40): 'b', [12,30,40]: 'c'} # list as a key is not possible
print(d)

In [ ]:
# list, set, dictionaries - are mutable (so it cannot be passed as a key to a dictionary)

d = {(12,30,[12,30]): "A"}
print(d)

In [ ]:
d = {"a": 12, "b": 13, "c": 100}
print(len(d))

In [ ]:
d = {"a": 12, "b": 13, "c": 100, 1:"A", "1": "ABC", 1.0:"2", False: "True"}
print(d)
print(len(d))

In [ ]:
# keys, values, items

d = {"Virat": 55.4, "Rohit": 46.9, "Sachin": 60.9}

print(d.keys())
print(d.values())
print(d.items())

In [ ]:
for k in d.keys():
  print("Keys: -->", k)

In [ ]:
for k in d.values():
  print("Values: -->", k)

In [ ]:
for k in d.items():
  print("Items: -->", k)

In [ ]:
for k, v in d.items():
  print("Key: -->", k, "; Values-->", v)

### **Accessing in a dictionary**

In [ ]:
d = {"Virat": 55.4, "Rohit": 46.9, "Sachin": 60.9}

d['Virat']

In [ ]:
d['Sky']

In [ ]:
# get() method

d = {"Virat": 55.4, "Rohit": 46.9, "Sachin": 60.9}

d.get("Virat")

In [ ]:
a = d.get("Sky")
b = d.get("Virat")
print(a)
print(b)

In [ ]:
d.get("Sky", -1) # get(key, default_val)

In [ ]:
d.get("Sky", "Key Not Found") # get(key, default_val)

### **Modifying a dictionary**

In [ ]:
d = {"Virat": 55.4, "Rohit": 46.9, "Sachin": 60.9}

d['Virat'] = [100,56,78] # keys in dictionary needs to be unique

print(d)

In [ ]:
# in operator

'Virat' in d

In [ ]:
'Virat' not in d

In [ ]:
'Sky' not in d

In [ ]:
d = {"Virat": "Sky", "Rohit": "Pant"}

"Sky" in d

In [ ]:
"Sky" in d.values()

### **Update Method**

In [ ]:
my_dict = {"name": "Venky", "age": 26, "profession": "teaching"}

print(my_dict)

In [ ]:
my_dict.update(name = "Viky", age = 30)

print(my_dict)

In [ ]:
my_dict = {"name": "Venky", "age": 26, "profession": "teaching"}

other_dict = {"salary": 1000, "education": "Mtech"}

my_dict.update(other_dict)

In [ ]:
d = {"a": [12]}
d["a"].append(20)
print(d)

In [ ]:
d = {"a": 1, "a": 2}
print(d)

In [ ]:
my_dict

In [ ]:
my_dict = {"name": "Viky", "age": 30, "profession": "teaching"}

other_dict = ["salary", 10000], ["education", "btech"]

my_dict.update(other_dict)

In [ ]:
type(other_dict)

In [ ]:
my_dict

In [ ]:
my_dict

In [ ]:
del my_dict['salary']

In [ ]:
my_dict

In [ ]:
del my_dict

In [ ]:
my_dict

In [ ]:
my_dict = {"name": "Viky", "age": 30, "profession": "teaching"}

other_dict = ["salary", 10000], ["education", "btech"]

my_dict.update(other_dict)
print(my_dict)

In [ ]:
my_dict.clear()

In [ ]:
my_dict