### **Conditional Statements** - Examples

In [ ]:
ord('a')

In [ ]:
chr(97)

In [ ]:
a = 10
b = 12
c = 5
print(a)
print(b)
print(c)

In [ ]:
# multivariable assignment in a single line
a, b, c = 10, 12, 5

print(a)
print(b)
print(c)

In [ ]:
a, b, c = 10, 12.5, [1,2,3]

print(a)
print(b)
print(c)
print(type(c))

In [ ]:
(2+3)*6

**Q1:**

In [ ]:
# What will be the output of the following code when m = 8, n = 6, and o = 4?

m, n, o = 8, 5, 3
print("m: ",m)
print("n: ",n)
print("o: ",o)

if m < 10:
    if n == 6 and o < 5:
        if m + n > 12:
            print("1")
        else:
            if n - o == 2:
                print("2")
            else:
                print("3")
    else:
        if o > 3:
            print("4")
        else:
            print("5")
else:
    if m > 5:
        if n * o > 24:
            print("6")
        else:
            print("7")
    else:
        print("8")

In [ ]:
x, y, z = 4, 5, 2

if x>5:
  x = x>>y//~z
  if x>12:
    print("X value: ", x)
  else:
    print("Z value: ", z)
else:
  print("Y value: ", y)

**Q2:**

In [ ]:
# Given the following pseudo-code, determine the output for x = 5, y = 3, and z = 4

x,y,z = 5,3,4
"""
if x + y > 7:
    z += 10
    if z * 2 < 10:
        if x - y == 2:
            print("G")
        else:
            if y % 2 == 0:
                print("H")
            else:
                print("I")
    else:
        if z + 1 > x:
            print("J")
        else:
            print("K")
else:
    if x + y < 8:
        if z - 2 <= y:
            print("L")
        else:
            print("M")
    else:
        print("N")
"""

### **Loops**

In [ ]:
# routine = ["wake up at 6", "prepare for gate", "have breakfast", "do some 9-5 work", "attend gate class"]
routine = ("wake up at 6", "prepare for gate", "have breakfast", "do some 9-5 work", "attend gate class")

for some_work in routine:
  print(some_work)

In [ ]:
l = len(routine)
print(routine)
print(l)

In [ ]:
match_tom = "India Vs Pakistan"

for c in match_tom:
  print(c)

In [ ]:
for i in range(0, 51, 2):
  print(i)

In [ ]:
scores = [12,34,56,28]
          #0  1  2  3
for s in scores:
  print(s)

In [ ]:
len(scores)

In [ ]:
for i in range(len(scores)):
  print(i)

In [ ]:
scores = [12,34,56,28]
          #0  1  2  3
for s in scores:
  print(s)
print("*"*50)
for i in range(len(scores)):
  print(scores[i])

In [ ]:
for i, s in enumerate(scores):
  print("current index: ", i)
  print("current value: ", s)

In [ ]:
player = ["Bradman", "Richards", "Sachin", "Kohli"]

for i in range(len(player)-1, -2, -1):
  print(player[i])

In [ ]:
range(-len(player), 0)

In [ ]:
for i in range(-len(player), 0):
  print(player[i])

In [ ]:
for i in range(len(player)-1, -1, -1):
  print(player[i])

In [ ]:
range(len(player), 0)

In [ ]:
range(len(player)-1, 0, -1)

In [ ]:
range(len(player))

In [ ]:
range(-len(player))

In [ ]:
for i, name in enumerate(player):
  print(i, name)

In [ ]:
["a","b","c"]

In [ ]:
l = [(0, "a"),(1,"b"),(2,"c")]

for i, v in l:
  print(i, v)

In [ ]:
players = [["Virat", "Rohit"], ['Babar', "Rizwan"], ["Maxi", "Warner"]]

for player_list in players:
  for player in player_list:
    print(player)

In [ ]:
election_parties = ["bjp", "congress", "dmk"]

constituency = [300, 299, 40]

# bjp 300
# congress 299
# dmk 40

for party, value in zip(election_parties, constituency):
  print(party, value)

In [ ]:
election_parties = ["bjp", "congress", "dmk", "x"]

constituency = [300, 299, 40, 25]

# bjp 300
# congress 299
# dmk 40

for party in election_parties:
  print(party)

for party, value in zip(constituency, election_parties):
  print(party, value)

In [ ]:
l1 = ['a','b','c']
l2 = (1,2,400,3)
l3 = {100,200,300}
l4 = "Virat"

for i, (a,b,c,d) in enumerate(zip(l1,l2,l3,l4)):
  print(i, a,b,c,d)

In [ ]:
for c in "Virat":
  print(c)

In [ ]:
l1 = ['a','b','c','d','e']

for i in range(0, len(l1), 3):
  print(l1[i])

**While Loop**

In [ ]:
while <condition>:
  # section of code will get executed

In [ ]:
l1 = ["rbr", "jay", "hari", "venky"]

n = len(l1)
print("n: ", n)
i = 0
print("i: ", i)
while i<n:
  print("i: ", i)
  print(l1[i])
  i+=1

**For loop:** Use it when you are iterating through some sequence(either a string, list, tuple, dictionary, or set)

**While Loop:** Suppose you want to do some operations based on some conditions, then use while loop.

In [ ]:
i = 0

n = 5

while i<n:
  print(i)

# i didnt increment value i here

# so this while loop will go into infinite loop

In [ ]:
i = 10
j = 5

while i>5:
  while j>2:
    print("j: ", j)
    j-=1
  print("i:", i)
  i-=1