### **GATE PROBLEMS**

In [ ]:
def func_gate(a: int, b: str, l: list)->int:
  print(a)
  print(b)
  print(l)
  return l

In [ ]:
func_gate.__annotations__

In [ ]:
b = 100
c = func_gate(b)
print(c)

In [ ]:
x = "Virat"
y = ["Rohit", "Pandya"]
z = ('India', 'Wins')

func_gate(x, y, z)

In [ ]:
# GATE 2023

def f1():
  return 1

def f3():
  return 5

def f2(X):
  f3()
  if X==1:
    return f1()
  else:
    return X*f2(X-1)

f1()
f2(2)
f3()

In [ ]:
# GATE 2021

def foo(x: int, y: int, q: int)->int:
  if ((x<=0) and (y<=0)):
    return q
  if x<=0:
    return foo(x, y-q, q)
  if y<=0:
    return foo(x-q, y, q)
  return foo(x, y-q, q)+foo(x-q, y, q)

r = foo(15, 15, 10)
print(r)

In [ ]:
def simpleFunction(Y: list, n: int, x: int)->int:
  total = Y[0]
  print("Total Initially: ", total)
  for loopIndex in range(1,n):
    total = x*total+Y[loopIndex]
    print("Loop ID:{}, total: {}".format(loopIndex, total))
  return total

Z = [1]*10
print(Z)
simpleFunction(Z, 10, 2)

In [ ]:
# GATE 2020

def tob(b: int, arr: list)->int:
  i = 0
  while b>0:
    if b%2: # if 0
      arr[i] = 1
    else:
      arr[i] = 0
    b//=2
    i+=1
  return i

def pp(a: int, b: int)->int:
  arr = [None]*20
  print("Arr in pp initially: ", arr)
  ex = a
  tot = 1
  l = tob(b, arr)
  print("Arr in pp after function call of tob: ", arr)
  for i in range(l):
    if (arr[i]==1):
      tot = tot*ex
    ex = ex*ex
    print("iteration {}, ex: {}, tot: {}".format(i, ex, tot))
  return tot

pp(3,4)

In [ ]:
b = 4

if b%2: # 4%2 ==0
  print("ABCD")
else:
  print("XYZ")

In [ ]:
v = 0

if v:
  print("VIRAT")
else:
  print("ROHIT")

In [ ]:
# GATE 2023

def funcp():
  x = 1
  def innerFunCp():
    nonlocal x
    x += 1
    return x
  return innerFunCp

f = funcp()
x = f()
print("x : ", x)
y = f()+x
print("y : ", y)

print("ans: ", x+y)

In [ ]:
def funcp():
  x = 1
  def innerFunCp():
    nonlocal x
    x += 1
    return x
  return innerFunCp

f = funcp()
print(f)
print(type(f))

In [ ]:
def funcp():
  x = 1
  def innerFunCp():
    nonlocal x
    x += 1
    return x
  return innerFunCp()

f = funcp()
print(f)
print(type(f))

In [ ]:
def funcp():
  x = 1
  def innerFunCp():
    nonlocal x
    x += 1
    return x
  return innerFunCp

f = funcp()
f()

In [ ]:
f()

In [ ]:
f()

In [ ]:
fun2 = funcp()

fun2()

In [ ]:
# ISRO 2020

def rer(n: int, r: int)->int:
  if n>0:
    return (n%r+rer(n//r, r))
  else:
    return 0

rer(513, 2)

In [ ]:
# GATE 2019

def convert(n: int)->None:
  if n<0:
    print(n)
  else:
    convert(n//2)
    print(n)

In [ ]:
# GATE 2019

def jumble(x: int, y: int):
  x = 2*x*y
  return x

x = 2
y = 5
y = jumble(y, x)
x = jumble(y, x)
print(x)

In [ ]:
# GATE 2018

def Count(x, y):
  if y!=1:
    if x!=1:
      print("*")
      Count(x//2, y)
    else:
      y -= 1
      Count(1024, y)

Count(1024, 1024) # 10230

In [ ]:
# GATE 2017

def foo(val: int)->int:
  x = 0
  while val>0:
    x = x+foo(val)
    val -= 1
  return val

def bar(val: int)->int:
  x = 0
  while val>0:
    x = x+bar(val-1)
  return val

In [ ]:
foo(3)

In [ ]:
bar(3)

In [ ]:
def fun1(n: int)->None:
  if n==0:
    return
  print(n)
  fun2(n-2)
  print(n)

def fun2(n: int)->None:
  if n==0:
    return
  print(n)
  n+=1
  fun1(n)
  print(n)